*{
    margin: 0;
    padding: 0;
}


    body::before {
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(Assets/home_first.jpg);
        background-size: cover;
        z-index: -1; /* added */
      }



/*first page all content in this main div*/      
.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* flex-wrap: wrap; */
}



/* navigation bar  css*/

.navbar{
    width: 1500px;
    height: 75px;
    margin-left: 10px;
}

.icon{     /*div of icon in which icon stay*/
    width: 100px;
    float: left;
    height: 80px;
}
.icon img{
    width: 100px;
    float: left;
    height: 80px;
}
.icon img:hover{
    animation: rotateAnimation 3s ;
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}

.logo{    /*main logo of site*/
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{    /*div of list of navigation   (home,services..etc) */
    width: 1050px;
    float: left;
    height: 70px;
}

#navlist{/*list of home,services..etc*/
    float: right;
     display: flex; 
    justify-content: center;
    align-items: center;
}

ul li{/**/
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}

ul li a:hover{
    color: #ff7200;
}



/* search bar div */
.search{
    width: 330px;
    float: right;
    margin-left: 0px;
}
/* search bar input tag css */
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


/* search butten */
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
/* main charing start */


:root{
    --gra: linear-gradient(45deg, #ffa862, #ff7200);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 98%;
    /* background: white; */
    margin: 60px auto;
    font-family: sans-serif;
    
}
header{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #f80000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
header ul li{
    list-style: none;
    padding: 20px;
    margin: 10px;
    float: left;
    font-size: 16px;
    border-radius: 35px;
    /*background: red;*/

}
header ul li a{
    color: inherit;
    text-decoration: none;
}
header ul li.active{
    background: var(--gra);
}
header ul li.active a{
    color: white;
    font-weight: bold;
}
.filter-condition{
    padding: 24px;
    height: 68px;
    font-size: 20px;
    font-weight: bold;
    
}
.filter-condition select{
    width: 146px;
    padding: 0 0 0 10px;
    border: none;
    outline: none;
    font-weight: bold;
    /* color: purple; */
    color: #ff7200;
    background: transparent;
    cursor: pointer;
    font-size: 20px;

}
.product-field{
    padding: 40px 20px;
}
.product-field ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product-field ul li{
    list-style: none;
    width: 23.4%;
    height: 400px;
    transition: 0.5s all;
    background: #ff7200;
    /*overflow: hidden;*/
    border-radius: 20px;
    padding: 10px;
    margin: 45px 10px 0 10px;
    position: relative;
}/* 
picture{
    background: #ff7300a3;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 41%;
    width: 75%;
    height: 85%;
    border-radius: 50px 20px 0 20px;
    transform: skewY(40deg);
    overflow: hidden;
    box-shadow: 0px 1px 0px #00000020, -1px 0px 0px #ff7200;
}
picture img {
  width: 95%;
  z-index: 1;
  transform: skewY(-40deg);
  padding: 25px 0 0 0;
} */
.detail{
    width: 100%;
    height: 100%;
}
.detail .icon{
    width: 30%;
    height: 55%;
    padding: 20px 5px;
}
.d11{
    height: 250px;
    /* width: 100px; */
}
#p11{
    margin-top: 25px;
    font-size: 22px;
    color: #00000085;
}
#p12{
    margin-bottom: 10px;
    color: #fff;
}
.s1{
    margin-left: 47px;
    /* padding-left: 20px; */
}
.s1.a:link {
    color: rgb(0, 0, 0);
    
  }
  
.icon span{
    background: #00000030;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    margin: 0 0 20px 5px;
    font-size: 20px;
    color: white;
}
.icon span:hover{
    background: var(--gra);
    cursor: pointer;
}
.detail > strong{
    display: inherit;
    margin: 20px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #000000b3;
}
.detail > span{
    display: inherit;
    padding: 0 20px;
    width: 80%;
}
.detail small{
    display: inline-block;
    padding: 8px 77px;
    margin: 15px;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #000000;
    cursor: pointer;
}
.detail small:hover{
        background: var(--gra);
        color: white;
        border-color: #944200;
}
.st1{
    font-size: 30px;
}
#add1{
    /* height: 250px; */
    width: 70%;
    float: left;
}

/* li h4{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 30px;
    color: #00ff95;
    text-shadow: 1px 1px 2px black;
} */

footer{
    background-color: #181818;
    
}
.footercontainer{
    width: 96%;
    padding: 70px 30px 20px;
}
.socialicon{
display: flex;
justify-content: center;
} 
.socialicon a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50px;
     
}
.socialicon a i{
    font-size: 2em;
    color: #ff7200;
}
.socialicon a:hover{
    background-color: #ff7200;
    transition: 0.8s;

}
.socialicon a:hover i{
color: white;
transition: 0.4s;
}
.footernav{
    margin:30px;
}
.footernav ul{
    display: flex;
    justify-content: center;

}
.footernav ul li a{
color:white;
margin: 20px;
text-decoration: none;
font-size: 14px;
opacity: 0.7;
transition: 0.8s;

}

.footernav ul li a:hover{
    opacity: 1;
    color: #ff7200;
}
.footerBottom{
    background-color: #181818;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: #ffffff;
}
.designer{
 text-transform: uppercase;
 letter-spacing: 1px;
 font-weight: 400 ;
 margin: 0px 5px;
color: #ff7200;

}
@media(max-width:700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100px;
        text-align: center;
        margin: 10px ;
    }
}
/* waewe */