footer{
    background-color: #181818;
    
}
.footercontainer{
    width: 96%;
    padding: 70px 30px 20px;
}
.socialicon{
display: flex;
justify-content: center;
} 
.socialicon a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50px;
     
}
.socialicon a i{
    font-size: 2em;
    color: #ff7200;
}
.socialicon a:hover{
    background-color: #ff7200;
    transition: 0.8s;

}
.socialicon a:hover i{
color: white;
transition: 0.4s;
}
.footernav{
    margin:30px;
}
.footernav ul{
    display: flex;
    justify-content: center;

}
.footernav ul li a{
color:white;
margin: 20px;
text-decoration: none;
font-size: 14px;
opacity: 0.7;
transition: 0.8s;

}

.footernav ul li a:hover{
    opacity: 1;
    color: #ff7200;
}
.footerBottom{
    background-color: #181818;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: #ffffff;
}
.designer{
 text-transform: uppercase;
 letter-spacing: 1px;
 font-weight: 400 ;
 margin: 0px 5px;
color: #ff7200;

}
@media(max-width:700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100px;
        text-align: center;
        margin: 10px ;
    }
}