body{
background-color: #f6f3f3;
color: rgb(4, 4, 4);
}
 #heading_1{
    float: left;
    background-color: #00c2e0;
} 
.navbar{
    float: right;
    list-style: none;
     margin-right: 50px;
     background-color: #00c2e0;
}
li{
    font-size: 20px;
    display: inline;
    padding: 10px;
}
li:hover{
    color:black;
    background-color: white;
    font-size: 22px;
}

#home_first_img{
    max-width: 100%; 
    height: auto; 
}












/* .con1{
    text-align: center;
    padding: 10px 100px;
    margin: 20px;
    border:solid 2px black;

    background-color: rgba(0, 0, 0, 0.564);
    color:rgb(232, 100, 133);
}
.ocon{
    height: 80%;
background-image: url("first.jpg");
float:left;
} */